@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans');
@import url('https://fonts.googleapis.com/css?family=Arvo');

body {
	box-sizing: border-box;
	margin: 0;
}

h1 {
	margin: 40px 0;
	font-size: 100px;
  letter-spacing: -3px;
  color: #BD0B06;
	font-weight: bold;
	text-align: center;
	font-family: 'Arvo', serif;
}
.background {
	padding: 50px 0;
	background-image: radial-gradient(circle, rgba(12, 9, 11, 0.3), rgba(12, 9, 11, 0.6), rgba(12, 9, 11, 0.9));
	min-width: 768px;
}

#carousel, #carousel ul, #carousel ul li {
	height: 300px;
	width: 500px;
}

#carousel {
	border: 6px solid white;
	border-radius: 5px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

#carousel ul {
	width: 3000px;
}
ul {
	padding: 0;
	margin: 0;
}

ul li {
	list-style: none;
	float: left;
}

span {
	height: 300px;
	width: 70px;
	position: absolute;
	color: white;	
	font-weight: bold;
	font-size: 30px;
	font-family: 'Merriweather Sans', sans-serif;
	text-align: center;
	line-height: 300px;
	opacity: 0.5;
	cursor: pointer;
}
.next {
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(20, 20, 20, 0.5),rgba(0, 0, 0, 1));
	left: 430px;
	top: 0;
}

.prev {
	background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(20, 20, 20, 0.5),rgba(0, 0, 0, 1));	
}

.dots {
	width: 500px;
	margin: 0 auto;
	position: relative;
}

.dots ul {
	position: absolute;
	top: -40px;
	left: 207.5px;
}


.dot {
  cursor: pointer;
  height: 9px;
  width: 9px;
  margin: 0 2px;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  border: 2px solid rgba(107, 107, 107, 0.8);

}

.active, .dot:hover {
	height: 13px;
  width: 13px;
  border: 0;
  background-color: rgb(107, 107, 107);
}

